<!-- Main login page for the angular app -->

<div class="row full-height overflow-scroll">
  <div class="col-sm-4 col-md-offset-4 login-container">
    <div class="row p pt-xl">
      <ul class="nav nav-tabs login-tabs">
        <li class="active">
          <a href='#/page/login'>Log In</a>
        </li>
        <li>
          <a href='#/page/register'>Register</a>
        </li>
      </ul>
    </div>

    <!-- Log in form -->
    <div class="row p">
      <form>
        <div class="form-group has-icon">
          <input type="email" placeholder="Email" ng-model='login.email' required
                 class="form-control" data-parsley-type='email' />
          <span class="fa fa-envelope fix-icon"></span>
        </div>
        <div class="form-group has-icon">
          <input type="password" placeholder="Password" ng-model='login.password' required class="form-control" />
          <span class="fa fa-key fix-icon"></span>
        </div>
        <div class="form-group">
          <label for='remember' class="checkbox mv-lg">
            <input type="checkbox" ng-model='login.remember' id='remember' class="hide" />
            <span class="fa" ng-class='{"fa-check": login.remember}'></span> Remember Me
          </label>
        </div>
        <div class="form-group">
          <button type='submit' class="form-control btn btn-warning">Submit</button>
        </div>
      </form>
    </div>
    <!-- Login form end -->
  </div>
</div>
