<!-- Create top navbar and inherit pre-login data in the body -->
<nav class="nav navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Angular Site</a>
    </div>
  </div>
</nav>

<div class="full-window">
<!-- Sidebar with invisible scrolling -->
<div class="sidebar">
  <div class="sidebar-menu">
    <!-- username -->
    <div class="user-name">
      <span class='status active'></span> {{sidebar.user_name || 'Username'}}
    </div>
    <hr class='sidebar-partition' />
    <!-- user created or joined groups -->
    <div class="sidebar-group">

    </div>
  </div>
</div>
<div class="background-yellow" ui-view></div>
</div>

<!-- footer for Registration landing pages -->
<footer class="fix-bottom">{{app.name}}, {{app.year}}</footer>
