<!-- Create top navbar and inherit pre-login data in the body -->
<header>
  <nav class="nav navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"> Angular Site</a>
      </div>
    </div>
  </nav>
</header>

<!-- Sidebar with invisible scrolling -->
<div class="sidebar">
  <div class="sidebar-menu ph">
    <!-- username -->
    <div class="user-name">
      <span class='status active'></span> {{sidebar.user_name || 'Username'}}
    </div>
    <hr class='sidebar-partition' />
    <!-- user created or joined groups -->
    <div class="sidebar-group">

    </div>
  </div>
</div>

<!-- Message screen -->
<div class="message-screen" ui-view></div>

<!-- footer for Registration landing pages -->
<!-- <footer class="fx-bottom">{{app.name}}, {{app.year}}</footer> -->
